@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');
img.logo{
    width: 80px;
    height: 70px;
    border-radius: 20%;
}

img.imgcent{
    width: 380px;
    height: 400px;
}

h3.cr1{
    color: #D5DBDB; 
}

h3.cr2{
    color: black; 
}

.imgcrr {height: 90vh;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .imgcrr {
      width: 100%;
      height: auto;
    }
}
